# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
jobs:
  page:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3
      - run: bun i
      - run: bun format:check
name: Format
on: pull_request
permissions:
  contents: read
