# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
jobs:
  page:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: oven-sh/setup-bun@563911925f97b52638b2d040c6390de93f9f241a
      - run: bun i
      - run: bun format:check
name: Format
on: pull_request
permissions:
  contents: read
