# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
jobs:
  page:
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          filter: blob:none
          submodules: recursive
      - uses: chetan/git-restore-mtime-action@cbf8161ddb4e9b162409104954fb540e8a38c1da
      - uses: oven-sh/setup-bun@22457c87c1b161cf7dde222c3e82b2b5f8d2bed2
      - uses: siacodelabs/setup-pandoc@ae6943ddd791fe2afdbb753b1baef3780e37e673
      - run: bun i
      - run: bun format:check
      - run: bun generate
      - uses: actions/upload-pages-artifact@main
        with:
          path: public
      - uses: actions/deploy-pages@main
name: Page
on:
  push:
    branches: [master]
permissions:
  contents: read
  id-token: write
  pages: write
